<h2>Add candidates to Ballot</h2>

<%= link_to "Add Candidate",new_ballot_candidate_path(@ballot) %>
<h3 class="text-center"><% if @winner.nil? %>

                            <% elsif @winner.get_upvotes.size == 0 %>
                                No Registered Votes
                            <% else %>
                                Current Winner:<%= @winner.full_name %>,Number of Votes:<%= @winner.get_upvotes.size %>
                            <% end %>

                        </h3>
<div class="listing">                      
<table class="table  table-dark table-hover" >
  <thead>
    <tr>
      <th scope="col">#</th>
      <td scope="col">Photo</td>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Votes</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @candidates.each_with_index do |candidate,i| %>
        <tr>
        <th scope="row"><%= i+1 %></th>
        <td><% if candidate.image.attached? %>
                                <%= image_tag candidate.image,size: "100x100" %>
              <% else %>
                                <%= image_tag "defaultprofile.jpeg",size: "100x100" %>
              <% end %>
        </td>
        <td><%= candidate.first_name %></td>
        <td><%= candidate.last_name %></td>
        <td><%= candidate.get_upvotes.size %></td>
         <td><%= link_to "Remove Candidate",delete_ballot_candidate_path(candidate_id: candidate.id,ballot_id: @ballot.id),data: {turbo_method: :delete} %>
            <%= link_to "Edit Candidate",edit_ballot_candidate_path(ballot_id: @ballot.id,candidate_id:candidate.id) %>

         </td>
        </tr>
    <% end %>
  </tbody>
</table>
</div>
