<h1 class="text-center edit-header">Edit Candidate Details</h1>
<div class="container">

    <div class="row ">
            <div class="col-md-6">

                <%= form_with model: @candidate,url:ballot_candidate_path(@ballot), data: {turbo_method: :patch} ,local: true do |f| %>

                    <div class="row mb-4">
                                <div class="col">
                                    <%= f.label :first_name, class: "form-label" %>
                                    <%= f.text_field :first_name, class: 'form-control',placeholder: :first_name %>

                                </div>

                                <div class="col">
                                    <%= f.label :last_name ,class: "form-label" %>
                                    <%= f.text_field :last_name, class: 'form-control',placeholder: :last_name %>
                                     <%= f.hidden_field :candidate_id, :value => @candidate.id %>
                                </div>

                    </div>
                     <div class="col">
                                    <%= f.label :Candidate_Image ,class: "form-label" %>
                                     <%= f.file_field :image %>
                                     <% if @candidate.image.attached? %>
                                    <p>Current Image:</p>
                                     <%= image_tag @candidate.image,size: "100x100" %>
                                     <% end %>
                    </div>

                    <div class= "form-group  text-center ">
                        <%= f.submit 'Update' ,class: "btn btn-success btn-lg" %>
                    </div>

                <% end %>
            </div>

    </div>

</div>
